*{
    margin:  0;
    padding: 0;
}
h3, h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-content:flex-start;
    padding: 40px;
    margin: 10px;
}
header h3{
    color: #BBBBBB;
    font-size: 30px;
}
.burger{
    height: 3px;
    width: 30px;
    top: 18px;
    background-color: black;
    position: relative;
}
.burger::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: black;
    top: 8px;
}
.burger::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: black;
    top: -8px;
}
.forest{
   background-image: url("https://media.cntraveler.com/photos/5eb18e42fc043ed5d9779733/3:2/w_4299,h_2866,c_limit/BlackForest-Germany-GettyImages-147180370.jpg"); 
   height: 800px;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
}
.circule{
  margin: 15px;
  width: 200px;
  height: 200px;
  background-color: #ACD4C0;
  border-radius: 50%;
}
.forest p{
    margin: 15px;
    font-size: 35px;
}
.forest h1{
    font-size: 120px;
}
.biosec{
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}
.biosec h3{
    margin: 25px;
    font-size: 45px;
}
.biosec p{
    letter-spacing: 0px;
    font-size: 18px;
    margin: 25px;
    color: #AEAEAE;
    width: 800px;
}
.biosec button{
    color: white;
    background-color: #ACD4C0;
    border: 1px transparent;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}
.moreinfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text{
    text-align: justify;
}
.moreinfo h3{
    margin: 10px;
    letter-spacing: 1px;
    font-size: 23px;
}
.moreinfo p{
    margin: 10px;
    color: #AEAEAE;
    width: 300px;
    margin-bottom: 30px;
}
.info{
    margin: 30px;
}
.img{
    margin: 10px;
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/a34a56c0783e5acca70145b0/trtrrt-min.jpg");
    height: 450px;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card{
    background-color: #F1F1F1;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 533px;
}
.card h1{
    padding: 10px;
    width: 400px;
    font-size: 50px;
}
.card button{
    color: white;
    background-color: #ACD4C0;
    border: 1px transparent;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}